<!-- rentals/templates/rentals/movie_list.html -->

{% extends 'base.html' %}

{% block title %}Movie List{% endblock %}

{% block content %}
    <h1>Movie List</h1>

    <form method="GET" action="{% url 'rentals:movie_list' %}">
        <label for="category">Filter by Category:</label>
        <select name="category" id="category">
            <option value="">All</option>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
    </form>

    <form method="GET" action="{% url 'rentals:movie_list' %}">
        <label for="search">Search by Title:</label>
        <input type="text" id="search" name="search">
        <button type="submit">Search</button>
    </form>

    <ul>
        {% for movie in movies %}
            <li>
                <a href="{% url 'rentals:movie_detail' movie.pk %}">{{ movie.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
